/* Header */
header {
  padding: 12px 0 15px 0;
}

header .logo {
    margin: 0 auto;
    display: block;
}

header .top-menu {
  z-index: 999;
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
}

.top-menu ul {
  display: none;
}
.top-menu button {
  position: absolute;
  top: 15px;
  right: 15px;
  border: 0;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9) url("../img/mobile_menu_button.png") center no-repeat;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-size: 80%;
  width: 30px;
  height: 30px;
  outline: none;
  transition: all 400ms ease;
}
.top-menu button.expanded {
          transform: rotate(90deg);
  background-color: transparent;
  border: 0;
}

.top-menu a {
  font-family: "aleoregular", sans-serif;;
  font-size: 0.875rem;
  display: block;
  background: #fff;
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
  color: #3b3b3b;
}
.top-menu a:hover,
.top-menu a:active,
.top-menu a:focus {
  background: #f0f0f0;
}

/* Billboard */

.billboard {
  background: url("../img/billboard_xs.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  padding: 50px 0 50px 0;
  text-align: center;
  border-bottom: 4px solid #f34949;
  position: relative;
  margin-bottom: 140px;
}

.billboard .main-title {
  text-transform: capitalize;
  font: 2rem "wc_mano_negra_btaregular", sans-serif;
  color: #fff;
}

.billboard .sub-title {
  text-transform: lowercase;
  font: 1rem "aleoregular", sans-serif;
  color: #fff;
}

.billboard .menu {
  text-transform: capitalize;
  color: #fff;
  background-color: #f34949;
  width: 155px;
  height: 70px;
  position: absolute;
  left: 50%;
  margin-left: -77.5px;
  bottom: -70px;
  font: 1.25rem "aleobold", sans-serif;
  line-height: 70px;
}
.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 77.5px 10px 77.5px;
  border-color: transparent transparent #ffffff transparent;
  left: 50%;
  margin-left: -77.5px;
  bottom: -70px;
}
